<%= semantic_form_for @resource, :url => {:action => :update, :id => @resource.id}, :html => {:class => 'form-horizontal editform row-fluid'} do |f| %>
    <h1 class="offset2 span10">Edit <%= @resource.class.name.underscore.humanize.downcase %></h1>
    <%= render 'form', :f => f %>
    <div class="form-actions">
      <%= submit_tag "Save", :class => 'btn btn-primary' %>
      <a href="<%= url_for(:action => :index) %>" class="btn">Cancel</a>
    </div>
<% end %>