<div class="page-header">
  <h1><%=  @model.to_s.pluralize.humanize %></h1>
</div>
<div class="row-fluid">
    <table class="table table-bordered table-striped table-data" data-name="<%= @model.to_s %>" data-disabled-actions="<%= Array(@model.admin_option_value(:disabled_actions)).join(' ') %>">
        <thead>
            <tr>
<% @model.columns(:admin => true).each do |column| %>
                <th>
                    <a href="#" rel="tooltip" title="<%= column.type %>"><%= column.name.humanize %></a>
                </th>
<% end %>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
            <tr>
<% @model.columns(:admin => true).each do |column| %>
                  <th>
                    <a href="#" rel="tooltip" title="<%= column.type %>"><%= column.name.humanize %></a>
                  </th>
<% end %>
              <th></th>
            </tr>
        </tfoot>
    </table>
</div>