<div class="showitem row-fluid">
    <h1 class="span12"><%= @resource.class.name.underscore.humanize %> record</h1>
    <table class="table table-bordered table-striped offset 2 span10">
      <thead>
        <tr>
          <th>Field</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
<% @resource.attributes(:admin => true).each do |key, value| %>
        <tr>
            <td><%= key.humanize %></td>
            <td>
<%   if @resource.class.admin_columns[key.to_sym] and @resource.class.admin_columns[key.to_sym][:wysiwyg] === true %>
                <div class="wysiwyg row-fluid">
                    <div class="raw well">
                        <%= raw(value) %>
<%     unless @resource.class.admin_columns[key.to_sym] and @resource.class.admin_columns[key.to_sym][:showsource] === false %>
                        <a href="#" class="label label-info">Show source</a>
<%     end %>
                    </div>
                    <div class="code">
                        <pre class="prettyprint linenums"><%= value %></pre>
                    <a href="#" class="label label-info">Show preview</a>
                    </div>
                </div>
<%   else %>
                <%= value %>
<%   end %>
            </td>
        </tr>
<% end %>
      </tbody>
    </table>
</div>
<div class="showitem">
    <div class="form-actions">
        <a href="<%= url_for(:action => :edit) %>" class="btn btn-primary">Edit</a>
        <a href="<%= url_for(:action => :index) %>" class="btn">Back</a>
    </div>
</div>